<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - LATITAKA BORNEO</title>
</head>
<body>    

    <!-- Include navbar -->
    <header>
        <div class="wrapper">
            <!-- Include navbar.ejs here -->
            <%- include('../includes/navbar.ejs') %>
        </div>
    </header>

    <div class="wrapper">
        <section id="Hampers">
            <h2>HAMPERS</h2>
            <p>Pemesanan Hampers Bisa sesuai Request dari para latiers yaa.</p>

            <div class="gambar-container">
                <img src="img/14.jpg" alt="Deskripsi Singkat Tentang gambar">
                <img src="img/15.jpg" alt="Deskripsi Singkat Tentang gambar">
            </div>
            <!-- Content specific to Hampers page -->
        </section>
    </div>

    <!-- Include footer -->
    <%- include(__dirname + '/includes/footer') %>
</body>
</html>