<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - LATITAKA BORNEO</title>
</head>
<body>
    <!-- Include navbar -->
    <header>
        <div class="wrapper">
            <!-- Include navbar.ejs here -->
            <%- include('../includes/navbar.ejs') %>
        </div>
    </header>

    <section id="Konsultasi" class="konsultasi-section">
        <h2>KONSULTASI GRATIS</h2>
        <p>Kami Menyediakan Layanan Free Konsultasi Bagi Setiap Pelanggan Sebelum Melakukan Pemesanan Produk Latitaka Borneo.
            Jika Anda ingin berkonsultasi bisa langsung menghubungi Telegram kami dibawah ini.</p>
        <div class="instagram-link">
            <a href="https://web.telegram.org/k/#@LatitakaBorneoBot" target="_blank">
                <img src="/img/Telegram_logo.svg.png" alt="Virtual Assistant">
                <span>latitakaborneo</span>
            </a>
        </div>
    </section>    
    </div>

    <!-- Include footer -->
    <%- include('../includes/footer') %>

    <script src="/js/script.js"></script>
</body>
</html>