<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - LATITAKA BORNEO</title>
</head>
<body>    
    <!-- Include navbar -->
    <header>
        <div class="wrapper">
            <!-- Include navbar.ejs here -->
            <%- include('../includes/navbar.ejs') %>
        </div>
    </header>

    <div class="wrapper">
        <section id="Order">
            <h2>Order</h2>
            <p>Mari konsulkan kesehatan anda bersama Latitaka Borneo racikan herbal Bajakah asli Dayak Kalimantan Timur disesuaikan dengan kondisi kesehtan anda.</p>
            <div>
                <p> Instagram : latitakaborneo </p>
                <a href="https://www.instagram.com/latitakaborneo?igsh=MnhobnRnODVnY2c1" target="_blank">
                    <img src="img/Instagram_logo_2022.svg.png" alt="Instagram Logo">
                </a>
            </div>
            <p>Hubungi kami melalui WhatsApp: <a href="https://wa.me/6282141800070">+6282141800070</a></p>
        </section>
    </div>

    <!-- Include footer -->
    <%- include(__dirname + '/includes/footer') %>
</body>
</html>