<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - LATITAKA BORNEO</title>
</head>
<body>
    <!-- Include navbar -->
    <header>
        <div class="wrapper">
            <!-- Include navbar.ejs here -->
            <%- include('../includes/navbar.ejs') %>
        </div>
    </header>

    <div class="wrapper">
        <section id="Produk">
            <h2>Produk</h2>
            <p>Selamat memilih  yang sesuai dengan keluhan kesehatan Anda.</p>

            <div class="gambar-container">
                <img src="img/1.jpg" alt="Gambar 1">
                <img src="img/2.jpg" alt="Gambar 2">
                <img src="img/3.jpg" alt="Gambar 3">
                <img src="img/4.jpg" alt="Gambar 4">
                <img src="img/madu.jpg" alt="Gambar 5">
                <img src="img/akar.jpg" alt="Gambar 6">
            </div>
        </section>
    </div>

    <!-- Include footer -->
    <%- include('../includes/footer') %>

    <!-- Ikon Virtual Assistant -->
    <div class="chat-icon">
        <a href="https://web.telegram.org/k/#@LatitakaBorneoBot" target="_blank">
            <img src="/img/virtual_assistant_logo.png" alt="Virtual Assistant">
        </a>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>