<footer>
    <div class="wrapper">
        <div class="footer">
            <div class="footer-section">
                <h4>Latitaka Borneo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, consectetur.</p>
            </div>
            <div class="footer-section">
                <h4>About</h4>
                <p>Latitaka Borneo merupakan brand yang menjual obat-obat herbal bajakah asli kalimantan Timur.</p>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Jl. Pangeran Antasari Samarinda</p>
                <p>kode pos: 53521</p>
            </div>
            <div class="footer-section">
                <h4>Social</h4>
                <a href="https://www.instagram.com/latitakaborneo?igsh=MnhobnRnODVnY2c1" target="_blank">
                    <img src="img/Instagram_logo_2022.svg.png" alt="Instagram Logo">
                </a>
                <p>latitakaborneo</p>
            </div>
        </div>
    </div>
</footer>


<div id="copyright">
    <div class="wrapper">
        &copy; 2024. <b>Latitaka Borneo</b> All Rights Reserved.
    </div>
</div>
