<footer>
    <div class="wrapper">
        <div class="footer">
            <div class="footer-section">
                <h4>Latitaka Borneo</h4>
                <p>Kami menawarkan herbal alami dari kekayaan hutan Borneo untuk kesehatan Anda. pastinya  produk herbal bajakah kami tanpa bahan kimia dan tidak memiliki bahan pengawet</p>
            </div>
            <div class="footer-section">
                <h4>About</h4>
                <p>Latitaka Borneo merupakan brand yang menjual obat-obat herbal bajakah asli kalimantan Timur.</p>
            </div>
            <div class="footer-section">
                <h4>Info</h4>
                <p>Produk Latitaka Borneo bisa menyesuaikan dengan kebutuhan kesehatan pelanggan</p>
            </div>
            <div class="footer-section">
                <h4>Social</h4>
                <a href="https://www.instagram.com/latitakaborneo?igsh=MnhobnRnODVnY2c1" target="_blank">
                    <img src="img/Instagram_logo_2022.svg.png" alt="Instagram Logo">
                </a>
                <p>latitakaborneo</p>
            </div>
        </div>
    </div>
</footer>


<div id="copyright">
    <div class="wrapper">
        &copy; 2021. <b>Latitaka Borneo</b> All Rights Reserved.
    </div>
</div>
