<footer>
    <div id="footer-container">
        <div id="footer-sections">
            <div id="footer-about">
                <h4>Latitaka Borneo</h4>
                <p>Kami menawarkan herbal alami dari kekayaan hutan Borneo untuk kesehatan Anda. Produk herbal bajakah kami tanpa bahan kimia dan pengawet.</p>
            </div>
            <div id="footer-brand">
                <h4>About</h4>
                <p>Latitaka Borneo merupakan brand yang menjual obat-obat herbal bajakah asli Kalimantan Timur.</p>
            </div>
            <div id="footer-info">
                <h4>Info</h4>
                <p>Produk Latitaka Borneo dapat disesuaikan dengan kebutuhan kesehatan pelanggan.</p>
            </div>
            <div id="footer-social">
                <h4>Social</h4>
                <a href="https://www.instagram.com/latitakaborneo?igsh=MnhobnRnODVnY2c1" target="_blank">
                    <img src="img/Instagram_logo_2022.svg.png" alt="Instagram Logo" id="instagram-logo">
                </a>
                <p>latitakaborneo</p>
            </div>
        </div>
        <div id="footer-bottom">
            <p>&copy; 2024. <b>Latitaka Borneo</b> All Rights Reserved.</p>
        </div>
    </div>
</footer>