<nav>
    <div class="wrappernav">
        <div class="Logo">
            <a href="/">LATITAKA BORNEO</a>
        </div>
        <div class="Menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/konsultasi">Konsultasi</a></li>
                <li><a href="/produk">Produk</a></li>
                <li><a href="/hampers">Hampers</a></li>
                <li><a href="/inventory">Stok</a></li>
                <li><a href="/logout" class="logout-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
